/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
@import "./stylesheet.css";

/* https://freeforonline.com/assets/images/bill/pump-logo-hp.webp */

.main-container {
  /* height: 100vh; */
  width: 100vw;
  /* background-color: red; */
  padding: 10px 0;
  justify-content: center;
  display: flex;

  .bill-container {
    transform: scale(0.8);
    /* margin: 50px; */
    /* width: 260px; */
    font-family: "Ascender Uni W01 Duo";
    letter-spacing: 1px;
    /* height: 100%; */
    background-color: #f5f7f7;
    display: flex;
    flex-direction: column;

    .logo {
      /* visibility: hidden; */
      margin: 20px auto;
      background-repeat: no-repeat;
      height: 132px;
      width: 110px;
      background: url(https://freeforonline.com/assets/images/bill/pump-logo-hp.webp);
    }

    .bill-body {
      margin: 150px 15px;
      .header-grp {
        margin-bottom: 20px;
      }
      .details-grp {
        .detail-row {
          align-items: center;
          display: flex;
          .label {
            align-items: center;
            display: flex;
            flex: 1.5;
            justify-content: space-between;
          }
          .value {
            padding: 0 2px;
            display: flex;
            flex: 3;
            justify-content: left;
          }
        }
      }
    }
  }
}
