@font-face {
  font-family: "Ascender Uni W01 Duo";
  src: url("https://db.onlinewebfonts.com/t/86e1a8b8ac964c2cb86f7465bc5f4c44.eot");
  src: url("https://db.onlinewebfonts.com/t/86e1a8b8ac964c2cb86f7465bc5f4c44.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/86e1a8b8ac964c2cb86f7465bc5f4c44.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/86e1a8b8ac964c2cb86f7465bc5f4c44.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/86e1a8b8ac964c2cb86f7465bc5f4c44.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/86e1a8b8ac964c2cb86f7465bc5f4c44.svg#Ascender Uni W01 Duo")
      format("svg");
}
